{% extends "base.html" %}
{% block nav_content %}
    {% for x in list_of_recipes %}
        <a class="dropdown-item" href="{{ url_for('display_recipe', name=x)}}">{{ x }}</a>
    {% endfor %}
{% endblock %}
{% block page_content %}
<h4 class="mb-3">Click the delete button to remove a recipe</h4>
    {% for x in list_of_recipes %}
        <div class="m-lg-2">{{ x }}
        <button onclick="window.location.href='{{ url_for('delete_recipe', name=x)}}'" class="btn-danger">Delete</button>
        </div>
    {% endfor %}
{% endblock %}
</html>