{% extends "base.html" %}
{% from "form-macros.html" import render_field %}
{% block nav_content %}
    {% for x in list_of_recipes %}
        <a class="dropdown-item" href="{{ url_for('display_recipe', name=x)}}">{{ x }}</a>
    {% endfor %}
{% endblock %}
{% block page_content %}
<section>
    <form action="" enctype="multipart/form-data" method="post">
        {{ form.csrf_token }}
<div class="row">
    <div class="col-md-6">
        <h3>Enter Recipe Information</h3>
        <table>
            {{ render_field(form.select)}}
            {{ render_field(form.query, size=20) }}

        </table>
    </div>
        <table>
        <tr class="submit">
            <td></td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
    </div>
    </form>
    </section>

    {% if results %}
        {% for result in results %}
        <div>
         <a href="{{ url_for('display_recipe', name=result)}}">{{ result }}</a>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}